# =========================
# NODE
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# BUILD
# =========================
dist/
build/
.vite/

# =========================
# ENV FILES (IMPORTANT)
# =========================
.env
.env.*
!.env.example

# =========================
# IDE / EDITOR
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# TYPESCRIPT
# =========================
*.tsbuildinfo

# =========================
# TESTS / COVERAGE
# =========================
coverage/

# =========================
# CACHE
# =========================
.cache/
.eslintcache

# =========================
# LOGS
# =========================
logs/
*.log

# =========================
# LOCAL CONFIG
# =========================
.local/